body * {
  background-color: #fff;
  color: #000;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font: 1em Arial,sans-serif;
}

.flex {
  display: flex;
}

.console-message {
  font-size: 10px;
}

.hiden {
  display: none;
}

input, select {
  outline: none;
}

#generator {
  text-align: center;
}
