body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

#form {
    width: 200px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
}

#data-screen {
    width: 200px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}